body {
    background-color: black;
    align-items: center;
}

html,
body {
    text-align: center;
}

.red {
    color: red;
    text-align: center;
}

.bl {
    width: 5%;
}

.yellowb {
    background-color: yellow;
    width: 8%;
    padding: 5%;
    display: inline;
}

.greenb {
    background-color: green;
    width: 8%;
    padding: 5%;
    display: inline;
}

.blueb {
    background-color: blue;
    width: 8%;
    padding: 5%;
    display: inline;
}

.redb {
    background-color: red;
    width: 8%;
    padding: 5%;
    display: inline;
}

a {
    color: white;
}